<body>
  <div class="logo-container">
    <svg class="Agora_logo_light">
      <svg xmlns="http://www.w3.org/2000/svg" width="156.94" height="181.663" viewBox="0 0 156.94 181.663">
        <defs>
          <style>
            .cls-1,
            .cls-2 {
              fill: none;
            }

            .cls-1,
            .cls-2,
            .cls-3,
            .cls-4 {
              stroke: #000;
              stroke-width: 7px;
            }

            .cls-1 {
              stroke-linecap: round;
            }

            .cls-1,
            .cls-3 {
              stroke-linejoin: round;
            }

            .cls-2 {
              stroke-linecap: square;
            }

            .cls-2,
            .cls-4 {
              stroke-miterlimit: 10;
            }

            .cls-3,
            .cls-4 {
              fill: #fff;
            }
          </style>
        </defs>
        <g id="Agora1" transform="translate(2.425 2.543)">
          <g id="Group_1" data-name="Group 1" transform="translate(0 0)">
            <path id="Path_1" data-name="Path 1" class="cls-1" d="M41.5,196.819v52.664"
              transform="translate(-5.01 -105.216)" />
            <path id="Path_2" data-name="Path 2" class="cls-1" d="M44.618,193.919v79.833"
              transform="translate(5.346 -116.433)" />
            <path id="Path_3" data-name="Path 3" class="cls-1" d="M55.58,192.8v90.261"
              transform="translate(41.754 -120.769)" />
            <path id="Path_4" data-name="Path 4" class="cls-2" d="M17.389,43.88H33.732V24.409H15.526V43.88"
              transform="translate(48.756 88.568)" />
            <path id="Path_5" data-name="Path 5" class="cls-1" d="M58.958,195.862v59.229"
              transform="translate(52.973 -108.918)" />
            <path id="Path_6" data-name="Path 6" class="cls-1" d="M48.3,208.029v27.925"
              transform="translate(17.586 -61.859)" />
            <path id="Path_7" data-name="Path 7" class="cls-1" d="M52.293,208.03v29.445"
              transform="translate(29.442 -61.855)" />
            <path id="Path_8" data-name="Path 8" class="cls-1" d="M48.3,190.883V227.43"
              transform="translate(17.586 -128.175)" />
            <path id="Path_9" data-name="Path 9" class="cls-1" d="M51.894,190.883V227.43"
              transform="translate(29.511 -128.175)" />
            <path id="Path_10" data-name="Path 10" class="cls-1" d="M64.549,196.387"
              transform="translate(71.544 -106.887)" />
            <path id="Path_11" data-name="Path 11" class="cls-1" d="M51.017,185.9"
              transform="translate(26.6 -147.441)" />
            <line id="Line_1" data-name="Line 1" class="cls-3" x2="60.303" y2="57.055"
              transform="translate(73.475 29.562)" />
            <line id="Line_2" data-name="Line 2" class="cls-4" x1="60.172" y2="58.057"
              transform="translate(15.514 29.562)" />
            <path id="Path_12" data-name="Path 12" class="cls-1" d="M53,196.757"
              transform="translate(33.184 -105.456)" />
            <line id="Line_3" data-name="Line 3" class="cls-3" x2="76.423" y2="72.267"
              transform="translate(75.687 0)" />
            <line id="Line_4" data-name="Line 4" class="cls-3" x1="77.583" y2="74.556" transform="translate(0 0)" />
          </g>
        </g>
      </svg>
    </svg>
  </div>

  <div class="blurs-container">
    <svg class="blurs">
      <svg xmlns="http://www.w3.org/2000/svg" width="1798.732" height="1662.359" viewBox="0 0 1798.732 1662.359">
        <g id="Group_57" data-name="Group 57" transform="translate(736.732 -129.88)">
          <g id="Blur" transform="translate(1062 1079.229) rotate(127)" fill="#1c1c1c" stroke="#1c1c1c" stroke-width="1" opacity="0.12">
            <rect width="787.456" height="1577.477" stroke="none"/>
            <rect x="0.5" y="0.5" width="786.456" height="1576.477" fill="none"/>
          </g>
          <g id="Blur-2" data-name="Blur" transform="translate(1045 1135.229) rotate(127)" fill="#1c1c1c" opacity="0.12">
            <path d="M 786.9556274414062 1576.977172851562 L 0.5000442266464233 1576.977172851562 L 0.5000442266464233 0.4999864399433136 L 786.9556274414062 0.4999864399433136 L 786.9556274414062 1576.977172851562 Z" stroke="none"/>
            <path d="M 1.00006103515625 1 L 1.00006103515625 1576.477172851562 L 786.4556274414062 1576.477172851562 L 786.4556274414062 1 L 1.00006103515625 1 M 6.103515625e-05 0 L 787.4556274414062 0 L 787.4556274414062 1577.477172851562 L 6.103515625e-05 1577.477172851562 L 6.103515625e-05 0 Z" stroke="none" fill="#1c1c1c"/>
          </g>
          <g id="Blur-3" data-name="Blur" transform="translate(997 1163.349) rotate(127)" fill="#1c1c1c" opacity="0.12">
            <path d="M 786.9556274414062 1576.977172851562 L 0.5000442266464233 1576.977172851562 L 0.5000442266464233 0.4999864399433136 L 786.9556274414062 0.4999864399433136 L 786.9556274414062 1576.977172851562 Z" stroke="none"/>
            <path d="M 1.00006103515625 1 L 1.00006103515625 1576.477172851562 L 786.4556274414062 1576.477172851562 L 786.4556274414062 1 L 1.00006103515625 1 M 6.103515625e-05 0 L 787.4556274414062 0 L 787.4556274414062 1577.477172851562 L 6.103515625e-05 1577.477172851562 L 6.103515625e-05 0 Z" stroke="none" fill="#1c1c1c"/>
          </g>
        </g>
      </svg>      
    </svg>
  </div>

  <div class="writing-container">
    <svg class="writing">
      <svg xmlns="http://www.w3.org/2000/svg" width="743" height="210.001" viewBox="0 0 743 210.001">
        <g id="Group_58" data-name="Group 58" transform="translate(-790 -229)">
          <text id="Welcome" transform="translate(790 298)" font-size="64" font-family="SegoeUI, Segoe UI">
            <tspan x="0" y="0">Welcome</tspan>
          </text>
          <text id="Motto" transform="translate(1062 430.001)" font-size="34" font-family="SegoeUI-Bold, Segoe UI"
            font-weight="700">
            <tspan x="0" y="0">Turning data into value</tspan>
          </text>
          <text id="IESC_-_Agora" data-name="IESC - Agora" transform="translate(960 315.001)" stroke="#000"
            stroke-width="1" font-size="70" font-family="ArialMT, Arial" letter-spacing="0.03em">
            <tspan x="0" y="63">IESC - Agora</tspan>
          </text>
        </g>
      </svg>
    </svg>
  </div>

  <a href='signup'><button class="signup-btn">Sign Up</button></a>
  <a href='login'><button class="login-btn">Log In</button></a>

  <div class="darkmode-container">
    <a href="">
      <svg class="darkmode">
        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 50 50">
          <defs>
            <style>
              .cls-1 {
                stroke: #000;
                fill: none;
              }
            </style>
          </defs>
          <path id="dark_mode_FILL1_wght400_GRAD0_opsz48" class="cls-1"
            d="M141.3,256.608a21.066,21.066,0,0,1-15.089-5.922,19.752,19.752,0,0,1,0-28.764A21.066,21.066,0,0,1,141.3,216q.473,0,1.006.028t1.361.085a12.348,12.348,0,0,0-3.314,4.456,13.545,13.545,0,0,0-1.183,5.584,11.476,11.476,0,0,0,3.728,8.629,12.639,12.639,0,0,0,9.053,3.553,16.539,16.539,0,0,0,5.858-1.043,13.157,13.157,0,0,0,4.675-2.9q.059.677.089,1.1t.03.818a19.127,19.127,0,0,1-6.213,14.382A21.065,21.065,0,0,1,141.3,256.608Z"
            transform="translate(-117 -210.5)" />
        </svg>
      </svg>
    </a>
  </div>
  
  <div class="IPad-Site-name">
    IESC - Agora
  </div>
  <div class="IPad-Motto">
    Turning Data Into Value
  </div>
  <div class="IPad-Choice">
    Choose what you want to do next
  </div>
</body>