  <body>
  <div class="logo-container">
    <svg class="Agora_logo_light">
      <svg xmlns="http://www.w3.org/2000/svg" width="156.94" height="181.663" viewBox="0 0 156.94 181.663">
        <defs>
          <style>
            .cls-1, .cls-2 {
              fill: none;
            }
    
            .cls-1, .cls-2, .cls-3, .cls-4 {
              stroke: #000;
              stroke-width: 7px;
            }
    
            .cls-1 {
              stroke-linecap: round;
            }
    
            .cls-1, .cls-3 {
              stroke-linejoin: round;
            }
    
            .cls-2 {
              stroke-linecap: square;
            }
    
            .cls-2, .cls-4 {
              stroke-miterlimit: 10;
            }
    
            .cls-3, .cls-4 {
              fill: #fff;
            }
          </style>
        </defs>
        <g id="Agora1" transform="translate(2.425 2.543)">
          <g id="Group_1" data-name="Group 1" transform="translate(0 0)">
            <path id="Path_1" data-name="Path 1" class="cls-1" d="M41.5,196.819v52.664" transform="translate(-5.01 -105.216)"/>
            <path id="Path_2" data-name="Path 2" class="cls-1" d="M44.618,193.919v79.833" transform="translate(5.346 -116.433)"/>
            <path id="Path_3" data-name="Path 3" class="cls-1" d="M55.58,192.8v90.261" transform="translate(41.754 -120.769)"/>
            <path id="Path_4" data-name="Path 4" class="cls-2" d="M17.389,43.88H33.732V24.409H15.526V43.88" transform="translate(48.756 88.568)"/>
            <path id="Path_5" data-name="Path 5" class="cls-1" d="M58.958,195.862v59.229" transform="translate(52.973 -108.918)"/>
            <path id="Path_6" data-name="Path 6" class="cls-1" d="M48.3,208.029v27.925" transform="translate(17.586 -61.859)"/>
            <path id="Path_7" data-name="Path 7" class="cls-1" d="M52.293,208.03v29.445" transform="translate(29.442 -61.855)"/>
            <path id="Path_8" data-name="Path 8" class="cls-1" d="M48.3,190.883V227.43" transform="translate(17.586 -128.175)"/>
            <path id="Path_9" data-name="Path 9" class="cls-1" d="M51.894,190.883V227.43" transform="translate(29.511 -128.175)"/>
            <path id="Path_10" data-name="Path 10" class="cls-1" d="M64.549,196.387" transform="translate(71.544 -106.887)"/>
            <path id="Path_11" data-name="Path 11" class="cls-1" d="M51.017,185.9" transform="translate(26.6 -147.441)"/>
            <line id="Line_1" data-name="Line 1" class="cls-3" x2="60.303" y2="57.055" transform="translate(73.475 29.562)"/>
            <line id="Line_2" data-name="Line 2" class="cls-4" x1="60.172" y2="58.057" transform="translate(15.514 29.562)"/>
            <path id="Path_12" data-name="Path 12" class="cls-1" d="M53,196.757" transform="translate(33.184 -105.456)"/>
            <line id="Line_3" data-name="Line 3" class="cls-3" x2="76.423" y2="72.267" transform="translate(75.687 0)"/>
            <line id="Line_4" data-name="Line 4" class="cls-3" x1="77.583" y2="74.556" transform="translate(0 0)"/>
          </g>
        </g>
      </svg>
    
    </svg>
  </div>
  <!-- <div class="shadow-container1">
    <svg class="shadow1">
      <svg xmlns="http://www.w3.org/2000/svg" width="1733.732" height="1578.24" viewBox="0 0 1733.732 1578.24">
        <defs>
          <style>
            .cls-1 {
              fill: #1c1c1c;
              stroke: #1c1c1c;
              opacity: 0.12;
              overflow: hidden;
            }
      
            .cls-2 {
              stroke: none;
            }
      
            .cls-3 {
              fill: none;
            }
          </style>
        </defs>
        <g id="Blur" class="cls-1" transform="translate(1733.732 949.349) rotate(127)">
          <rect class="cls-2" width="787.456" height="1577.477"/>
          <rect class="cls-3" x="0.5" y="0.5" width="786.456" height="1576.477"/>
        </g>
      </svg>
      
    </svg>
  </div> -->

</body>